{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Restaurant XYZ </title>
</head>

<body>
    <header>
        <section class="logo-img">
            <a href="/">
            <img src="/Inventory/static/images/label-restaurant.png" alt="logo">
            </a>
        </section>

        <section>
            <h2>Restaurant XYZ</h2>
            <h3>Management system</h3>

        </section>

        <section class="register_list">
        {% block messages %}
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                          <a class="close" data-dismiss="alert">×</a>
                          {{ message|safe }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endblock %}


      {% if user.is_authenticated %}
        <p>User: {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}

        </section>
    </header>

    <div class="block_view">

        <section>
    <ul>  <a href="{% url 'register' %}" >Register</a></ul>
    <ul>  <a href="{% url 'company_list' %}"  >Company's list</a></ul>
    <ul>  <a href="{% url 'product_list' %}" >Products list</a></ul>
    <ul>  <a href="{% url 'invoice_list' %}"  >Invoices list</a></ul>
    <ul>  <a href="{% url 'inventory_list' %}"  >Inventory</a></ul>
        </section>


        <section class="block">
        {% block content %}
        {% endblock %}
        </section>

    </div>

    </body>
</html>


