{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head><meta charset="utf-8">
        <title>Restaurant XYZ </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <div class="logo-img">
        <a href="/">
        <img src="/static/images/label-restaurant.png" alt="logo">
        </a>
    </div>

    {% block messages %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      <a class="close" data-dismiss="alert">×</a>
                      {{ message|safe }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endblock %}
    </div>

  {% if user.is_authenticated %}
    <p>User: {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}


<!--    <ul>  <a href="../login" >Login</a></ul>-->
<!--    <ul>  <a href=../logout">Logout</a></ul>-->
    <ul>  <a href="{% url 'register' %}" >Register</a></ul>
    <ul>  <a href="{% url 'company_list' %}"  >Company's list</a></ul>
    <ul>  <a href="{% url 'product_list' %}" >Products list</a></ul>
    <ul>  <a href="{% url 'invoice_list' %}"  >Invoices list</a></ul>
    <ul>  <a href="{% url 'inventory_list' %}"  >Inventory</a></ul>




        {% block content %}
        {% endblock %}
    </body>
</html>


