{% extends '__base.html' %}
<view>
{% block content %}
{% if user.is_authenticated %}
    <div class="column_form">
        <span class="message">{{ message }}</span>
        <h2>Update company</h2>

        <form action="" method="post">
            {% csrf_token %}
            <section class="column_form">
            {{ form }}
            <input type="submit" value="Send">
            <a class="myButton" href="{% url 'company_delete' pk=company.pk %}">Delete company</a>
                </section>
        </form>

    </div>

  {% endif %}

    </view>
{% endblock %}