{% extends '__base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="tg">

<tbody>

</table>
        <!--        Products tabel-->

<h2>List of products:</h2>

    <table class="tg">
        {{ message }}

<thead>
  <tr>
    <th class="tg-7cam">ID</th>
    <th class="tg-7cam">Name</th>
    <th class="tg-7cam">Amount on invoice</th>
    <th class="tg-7cam">unit</th>
    <th class="tg-7cam">base amount</th>
    <th class="tg-7cam">gross price</th>
    <th class="tg-7cam">net price</th>
    <th class="tg-7cam">Total gross</th>
    <th class="tg-7cam">Total net</th>

  </tr>
</thead>
<tbody>
  <tr>  {% for product, result in total %}


        <td class="tg-7cam">{{product.product.id}}</td>
        <th class="tg-7cam"><a href="{% url 'product_edit' pk=product.id %}">
            {{product.product.name}} (Edit)</a></td>
        <th class="tg-7cam">{{product.amount}}</td>
        <th class="tg-7cam">{{product.product.get_unit_display}}</td>
        <th class="tg-7cam">{{product.product.amount}}</td>
        <th class="tg-7cam"> {{product.product.gross_price}}</td>
        <th class="tg-7cam"> {{product.product.net_price}}</td>
        <th class="tg-7cam"> {{result.0}}</td>
        <th class="tg-7cam"> {{result.1}}</td>


  </tr>
{% endfor %}

        <div class="pagination">
            <span class="step-links">
                <b>Page: </b>
                {% if products_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ products_list.previous_page_number }}">previous</a>
                {% endif %}

                            {% for i in products_list.paginator.page_range %}
                  {% if products_list.number == i %}
                      <span class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></span>
                  {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endfor %}

                {% if products_list.has_next %}
                    <a href="?page={{ products_list.next_page_number }}">next</a>
                    <a href="?page={{ products_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </tbody>
</table>

        <input type="submit" value="Wyślij">
            {{ form}}
    </form>
{{ message }}
{% endblock %}