{% extends '__base.html' %}

{% block content %}
    <view>
    <div class="main_view">
        <h2> About XYZ</h2>

        <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra dui et
            pulvinar porttitor. Cras nulla justo, sollicitudin vitae cursus vel, aliquam
            nec eros. Suspendisse convallis faucibus eros. Nam faucibus feugiat risus vitae
            fringilla. Sed a metus nec neque luctus iaculis. Sed laoreet turpis quis hendrerit
            ultrices. Sed vel consectetur turpis. Donec sed odio id neque pretium molestie sed
            ac elit. Etiam a turpis vitae neque aliquam volutpat quis eu ligula. Quisque nec
            nisl nec enim tincidunt interdum non non erat.


        Phasellus auctor suscipit felis nec lobortis. Mauris ac purus blandit, scelerisque
            tellus vel, dapibus urna. Aliquam placerat enim sed urna auctor molestie. Vivamus
            id massa vitae dui bibendum aliquet. Aenean massa leo, euismod et turpis vulputate,
            maximus tristique sapien. Orci varius natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Nam eget dapibus quam. Mauris a dolor fermentum,
            ultricies velit et, pretium arcu. In quis odio sit amet lectus porta consectetur.
            Praesent vitae metus sit amet tortor sollicitudin posuere. Proin odio nulla,
            dignissim eget magna vel, vehicula viverra lectus. Duis rutrum lobortis augue vel
            sagittis. Pellentesque tristique, nulla id volutpat tincidunt, ipsum lacus molestie
            purus, at tempus libero quam sed felis.


        </span>
    </div>
</view>
{% endblock %}