{% extends '__base.html' %}
<view>
{% block content %}
<div class="product_update">
    <h2>Update product</h2>

    <span class="message">{{message}}</span>

{% if user.is_authenticated %}
    <form  action="" method="post">
        {% csrf_token %}

        <section class="column_form">{{ form }}
            <input type="submit" value="Send">
            </section>
        <a class="myButton" href="{% url 'product_delete' pk=product.pk %}">Delete product</a>
    </form>
</div>

{% endif %}


    </view>
{% endblock %}